@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "bazardor";
  default: true;
  color-scheme: light;
  --color-base-100: #F5F7F5;
  --color-base-200: #e8ece8;
  --color-base-300: #d1d8d1;
  --color-base-content: #1d271f;
  --color-primary: #05893e;
  --color-primary-content: #f3fbf4;
  --color-secondary: #047f39;
  --color-secondary-content: #f3fbf4;
  --color-accent: #e3f3e8;
  --color-accent-content: #05893e;
  --color-neutral: #1d271f;
  --color-neutral-content: #fafcfa;
  --color-info: #2563eb;
  --color-info-content: #ffffff;
  --color-success: #1a9951;
  --color-success-content: #ffffff;
  --color-warning: #d97706;
  --color-warning-content: #ffffff;
  --color-error: #d03739;
  --color-error-content: #ffffff;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.75rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}